:root{
    --btn-color: rgb(108, 134, 201);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Thin';
    src: url(assets/fonts/Roboto-Thin.ttf);
}

body {
    font-family: 'Roboto Regular';
}

/* Index page */

.intro {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/office-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.intro::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(59, 56, 63, 0.95);
    z-index: 5;
}

.intro-header,
.gif-wrapper {
    z-index: 8;
    width: 250px;
}

.gif-desc {
    border-left: 3px solid var(--btn-color);
}

.gif-desc p {
    font-size: 10px;
    margin-top: 1rem;
    padding-left: 0.7rem;
}

.intro-h1 {
    font-family: 'Roboto Bold';
    font-size: 40px;
    line-height: 1;
}

.intro-header .switch-user {
    padding: 0.5em 1em;
    background-color: var(--btn-color);
    margin-top: 1rem;
    width: 170px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.order-wrapper {
    display: none;
    justify-content: center;
    padding: 2rem;
}

.index-order,
.code-verify {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 8px;
    gap: 1rem;
}

.order-wrapper input {
    padding: 0.2em 0.5em;
    font-size: 14px;
}

.index-signup {
    border-left: 3px solid var(--btn-color);
    padding-left: 0.7rem;
}

.index-signup {
    flex-basis: 200px;
}

.index-login {
    flex-basis: 300px;
}

.errors-signup,
.errors-login {
    font-size: 14px;
    color: red;
}

.index-signup input {
    background-color: rgb(232, 235, 239);
    border: 1px solid rgb(221, 208, 208);
    border-radius: 10px;
    padding: 0.2em 0.5em;
    font-size: 14px;
}

.form-wrapper h3 {
    margin-bottom: 0.2em;
}

.form-wrapper h3+p {
    line-height: 1.2;
    font-size: 14px;
    color: grey;
}

.index-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.index-login h3+p {
    color: #fff;
    text-align: center;
}

.index-login input {
    padding: 0.2em 0.5em;
    font-size: 14px;
}

.form-wrapper input::placeholder {
    font-size: 14px;
}

.signup-form,
.login-form {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-top: 0.5em;
}

.login-form {
    align-items: center;
}

.signup-form > *,
.login-form > * {
    margin-bottom: 0.8rem;
}

.submit-btn {
    background-color: var(--btn-color);
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 0.2em;
    width: 100px;
    cursor: pointer;
}

/* Account page */

.account-outer-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/office-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
}

.account-outer-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(59, 56, 63, 0.95);
    z-index: 5;
}

.profile-settings-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 6;
    background-color: black;
    padding: 2vw;
    border-radius: 7px;
}

.profile-settings-wrapper form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    margin-top: 1vw;
}

.profile-settings-wrapper form button {
    background-color: var(--btn-color);
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 0.2em 0.5em;
    cursor: pointer;
}

.profile-settings-wrapper form input {
    border-radius: 7px;
    padding: 0.2em 0.5em;
    font-size: 14px;
    width: 200px;
}

.profile-bg {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/office-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
}

.profile-bg::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(59, 56, 63, 0.95);
    z-index: 5;
}

.profile-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    z-index: 6;
    min-width: min(95%, 1000px);
    min-height: 500px;
    border-radius: 10px;
    gap: 2vw;
}

.profile-info {
    background-color: black;
    grid-row: span 5;
    border-radius: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
}

.profile-img-wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-block: 10px;
}

.profile-info ul li {
    list-style: none;
}

.profile-img {
    object-fit: cover;
    object-position: top;
    width: 100%;
}

.profile-settings {
    background-color: #fff;
    color: black;
    border-radius: 10px;
    padding: 0.2em 0.4em;
    cursor: pointer;
    text-decoration: none;
}

.profile-info .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.profile-header {
    background-color: black;
    border-radius: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

.profile-orders {
    background-color: #fff;
    grid-row: span 4;
    border-radius: inherit;
}

.profile-header,
.profile-orders {
    grid-column: span 3;
}

.header-logout,
.header-username {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.header-logout {
    background-color: var(--btn-color);
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 0.2em 0.5em;
    cursor: pointer;
}

.login-success {
    font-weight: 700;
    color: green;
}

@media screen and (max-width: 700px) {
    .profile-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 70px 200px 1fr;
        min-height: 80vh;
    }
    .profile-wrapper > * {
        grid-row: span 1;
        grid-column: span 1;
    }
    .profile-info {
        flex-direction: row;
    }
    .profile-info ul {
        margin-left: 10px;
    }
    .profile-img-wrapper {
        margin-inline: 10px;
    }
}


@media screen and (max-width: 600px) {
    .index-signup {
        margin-right: 50px;
    }
}
