:root{
    --btn-color: rgb(108, 134, 201);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Thin';
    src: url(assets/fonts/Roboto-Thin.ttf);
}

body {
    font-family: 'Roboto Regular';
}

.intro {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/office-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.intro::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(59, 56, 63, 0.95);
    z-index: 5;
}

.intro-header,
.gif-wrapper {
    z-index: 8;
    width: 250px;
}

.gif-desc {
    border-left: 3px solid var(--btn-color);
}

.gif-desc p {
    font-size: 10px;
    margin-top: 1rem;
    padding-left: 0.7rem;
}

.intro-h1 {
    font-family: 'Roboto Bold';
    font-size: 40px;
    line-height: 1;
}

.intro-header .logo {
    padding: 0.5em 1em;
    background-color: var(--btn-color);
    margin-top: 1rem;
    width: 170px;
    text-align: center;
    border-radius: 10px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.index-signup {
    border-left: 3px solid var(--btn-color);
    padding-left: 0.7rem;
}

.index-signup {
    flex-basis: 200px;
}

.index-login {
    flex-basis: 300px;
}

.index-signup input {
    background-color: rgb(232, 235, 239);
    border: 1px solid rgb(221, 208, 208);
    border-radius: 10px;
    padding: 0.2em 0.5em;
    font-size: 14px;
}

.form-wrapper h3 {
    margin-bottom: 0.2em;
}

.form-wrapper p {
    line-height: 1.2;
    font-size: 14px;
    color: grey;
}

.index-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.index-login p {
    color: #fff;
    text-align: center;
}

.index-login input {
    padding: 0.2em 0.5em;
    font-size: 14px;
}

.form-wrapper input::placeholder {
    font-size: 14px;
}


.signup-form,
.login-form {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-top: 0.5em;
}

.login-form {
    align-items: center;
}

.signup-form > *,
.login-form > * {
    margin-bottom: 0.8rem;
}

.submit-btn {
    background-color: var(--btn-color);
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 0.2em;
    width: 100px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .index-signup {
        margin-right: 50px;
    }
}