:root{
    --btn-color: rgb(108, 134, 201);
    --bg-color: rgb(210, 211, 206);
    --border-color-light: rgb(120, 153, 165);
    --border-color-dark: rgb(37, 60, 74);
    --creamy-color: rgb(252, 239, 228);
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url(assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url(assets/fonts/Montserrat-Thin.ttf);
}

body {
    font-family: 'Montserrat Regular';
    background-color: var(--bg-color);
}

/* Index page */

.index-outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.index-frame {
    max-width: 700px;
    border-radius: 20px;
    background-color: var(--creamy-color);
    position: relative;
    z-index: 1;
}

.index-frame::before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: linear-gradient(to right, var(--border-color-light) 0, var(--border-color-dark) 20%);
    z-index: -2;
    border-radius: 10px;
}

.index-frame::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--creamy-color);
    z-index: -1;
    border-radius: 10px;
}

.fake-nav {
    background: linear-gradient(to right, var(--border-color-light) 0, var(--border-color-dark) 20%);
    height: 40px;
    border-radius: 10px 10px 0 0;
    box-shadow: 
    4px 4px 6px rgba(0,0,0,0.8),
    inset 3px 3px 5px rgba(255, 255, 255, 0.7),
    inset -3px -3px 5px rgba(0, 0, 0, 0.7);
}

.intro-wrapper {
    border-top: 2px solid rgb(158, 139, 129);
    border-bottom: 2px solid rgb(158, 139, 129);
    height: 250px;
    margin: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    height: 70%;
    border-radius: 10px;
    box-shadow: 
    4px 4px 6px rgba(0,0,0,0.8),
    inset 3px 3px 5px rgba(255, 255, 255, 0.7);
    background-color: rgb(215, 204, 195);
    display: flex;
    gap: 20px;
}

.intro-h1 {
    font-family: 'Montserrat Bold';
    font-size: 30px;
    color: rgb(3, 26, 38);
    line-height: 1;
    margin-top: 30px;
}

.intro-p {
    font-size: 12px;
    color: rgb(3, 26, 38);
    margin-top: 10px;
}

.cody-verify-p {
    font-size: 14px;
    color: rgb(3, 26, 38);
}

.switch-user {
    background-color: rgb(43, 68, 82);
    border: none;
    border-radius: 15px;
    color: var(--creamy-color);
    padding: 0.5em 0.8em;
    min-width: 100px;
    font-family: 'Montserrat Bold';
    font-size: 12px;
    cursor: pointer;
    box-shadow: 
    2px 2px 2px rgba(0,0,0,0.8),
    inset 2px 2px 2px rgba(255, 255, 255, 0.7);
    width: 150px;
}

.switch-form {
    margin-inline: auto;
    width: 150px;
}

.form-wrapper {
/*     display: flex; */
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.order-wrapper {
    /* display: none; */
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.order-wrapper h3 { 
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: rgb(3, 26, 38);
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(158, 139, 129);
}

.index-order,
.code-verify {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.order-wrapper input {
    background-color: rgb(243, 239, 239);
    border: 2px solid rgb(158, 139, 129);
    border-radius: 7px;
    padding: 0.2em 0.5em;
    font-size: 14px;
    color: rgb(80, 65, 57);
    box-shadow: 
    1px 1px 2px rgba(0,0,0,0.8),
    inset 1px 1px 2px rgba(255, 255, 255, 0.7);
}


.index-signup {
    flex-basis: 200px;
}

.index-login {
    flex-basis: 200px;
}

.errors-signup,
.errors-login {
    font-size: 14px;
    color: red;
}

.index-signup input {
    background-color: rgb(243, 239, 239);
    border: 2px solid rgb(158, 139, 129);
    border-radius: 7px;
    padding: 0.2em 0.5em;
    font-size: 14px;
    color: rgb(80, 65, 57);
    box-shadow: 
    1px 1px 2px rgba(0,0,0,0.8),
    inset 1px 1px 2px rgba(255, 255, 255, 0.7);
}

.form-wrapper h3 {
    margin-bottom: 0.2em;
    font-family: 'Montserrat Medium';
    font-size: 18px;
    color: rgb(3, 26, 38);
}

.form-wrapper h3+p {
    line-height: 1.2;
    font-size: 14px;
    color: rgb(3, 26, 38);
    border-top: 2px solid rgb(158, 139, 129);
    padding-top: 1rem;
    margin-top: 1rem;
}

.index-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(3, 26, 38);
}

.index-login h3+p {
    color: rgb(3, 26, 38);
    text-align: center;
}

.index-login input {
    background-color: rgb(243, 239, 239);
    border: 2px solid rgb(158, 139, 129);
    border-radius: 7px;
    padding: 0.2em 0.5em;
    font-size: 14px;
    color: rgb(80, 65, 57);
    box-shadow: 
    1px 1px 2px rgba(0,0,0,0.8),
    inset 1px 1px 2px rgba(255, 255, 255, 0.7);
}

.form-wrapper input::placeholder {
    font-size: 14px;
}

.signup-form,
.login-form {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-top: 0.5em;
}

.login-form {
    align-items: center;
}

.login-form input {
    width: 100%;
}

.signup-form > *,
.login-form > * {
    margin-bottom: 0.8rem;
}

.submit-btn {
    background-color: rgb(43, 68, 82);
    border: none;
    border-radius: 15px;
    color: var(--creamy-color);
    padding: 0.5em 0.8em;
    min-width: 100px;
    font-family: 'Montserrat Bold';
    font-size: 12px;
    cursor: pointer;
    box-shadow: 
    2px 2px 2px rgba(0,0,0,0.8),
    inset 2px 2px 2px rgba(255, 255, 255, 0.7);
}

/* Account page */

.account-outer-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    position: relative;
    color: rgb(3, 26, 38);
}

.profile-settings-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 6;
    background-color: black;
    padding: 2vw;
    border-radius: 7px;
}

.user-info {
    display: flex;
    gap: 1rem;
    padding: 0.3em;
    margin-top: 0.5em;
    border-radius: 10px;
    box-shadow: 
    4px 4px 6px rgba(0,0,0,0.8),
    inset 3px 3px 5px rgba(255, 255, 255, 0.7);
    background-color: rgb(215, 204, 195);
    font-family: 'Montserrat Medium';
}

.specialty {
    padding: 0.3em;
    margin-top: 0.5em;
    border-radius: 0.3em;
    width: 100%;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 
    4px 4px 6px rgba(0,0,0,0.8),
    inset 3px 3px 5px rgba(255, 255, 255, 0.7);
    background-color: rgb(215, 204, 195);
    font-family: 'Montserrat Medium';
}

.account-info-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.account-info-li {
    border-bottom: 1.5px solid rgb(0,0,0,0.5);
    color: black;
    font-weight: 500;
    text-align: center;
}

.profile-settings-wrapper form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    margin-top: 1vw;
}

.profile-settings-wrapper form button {
    background-color: rgb(43, 68, 82);
    border: none;
    border-radius: 15px;
    color: var(--creamy-color);
    padding: 0.5em 0.8em;
    min-width: 100px;
    font-family: 'Montserrat Bold';
    font-size: 12px;
    cursor: pointer;
    box-shadow: 
    2px 2px 2px rgba(0,0,0,0.8),
    inset 2px 2px 2px rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.profile-settings-wrapper form input,
.profile-settings-wrapper form select {
    font-size: 14px;
    width: 200px;
    background-color: rgb(243, 239, 239);
    border: 2px solid rgb(158, 139, 129);
    border-radius: 7px;
    padding: 0.2em 0.5em;
    color: rgb(80, 65, 57);
    box-shadow: 
    1px 1px 2px rgba(0,0,0,0.8),
    inset 1px 1px 2px rgba(255, 255, 255, 0.7);
}

.client-order {
    width: min(100%, 500px);
    position: relative;
}

.svg-exit {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    display: block;
}

.client-order form input,
.client-order form select,
.client-order form textarea,
.client-order form {
    width: 100%;
}

.client-order form label {
    margin-right: auto;
}

.client-order form button {
    margin-top: 10px;
}

.client-order form {
    gap: 5px;
}

.profile-bg {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.profile-settings-wrapper {
    max-width: 700px;
    border-radius: 20px;
    background-color: var(--creamy-color);
    position: relative;
    z-index: 1;
}

.profile-settings-wrapper::before {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: linear-gradient(to right, var(--border-color-light) 0, var(--border-color-dark) 20%);
    z-index: -2;
    border-radius: 10px;
}

.profile-settings-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--creamy-color);
    z-index: -1;
    border-radius: 10px;
}

.profile-settings-wrapper input {
    background-color: rgb(243, 239, 239);
    border: 2px solid rgb(158, 139, 129);
    border-radius: 7px;
    padding: 0.2em 0.5em;
    font-size: 14px;
    color: rgb(80, 65, 57);
    box-shadow: 
    1px 1px 2px rgba(0,0,0,0.8),
    inset 1px 1px 2px rgba(255, 255, 255, 0.7);
}

.profile-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 6;
    min-width: min(95%, 1000px);
    min-height: 500px;
    border-radius: 10px;
    gap: 2vw;
}

.profile-info {
    background-color: var(--creamy-color);
    grid-row: span 5;
    border-radius: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
    border: 2px solid rgb(43, 68, 82);
}

.profile-img-wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-block: 10px;
    border-radius: 50%;
}

.profile-info ul li {
    list-style: none;
}

.profile-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.profile-settings {
    background-color: rgb(43, 68, 82);
    border: none;
    border-radius: 15px;
    color: var(--creamy-color);
    padding: 0.5em 0.8em;
    font-family: 'Montserrat Bold';
    font-size: 12px;
    cursor: pointer;
    box-shadow: 
    2px 2px 2px rgba(0,0,0,0.8),
    inset 2px 2px 2px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    text-decoration: none;
}

.profile-info .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.profile-header {
    background-color: var(--creamy-color);
    border-radius: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    border: 2px solid rgb(43, 68, 82);
}

.profile-display {
    background-color: var(--creamy-color);
    grid-row: span 4;
    border-radius: inherit;
    padding: 2em;
    color: black;
    border: 2px solid rgb(43, 68, 82);
}

.profile-order-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 1px solid black;
    max-width: 800px;
}

.src-row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    border-bottom: 1px solid black;
    gap: 1rem;
    padding: 0.5em 1em;
}

.src-row button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgb(43, 68, 82);
    border: none;
    border-radius: 15px;
    color: var(--creamy-color);
    font-family: 'Montserrat Bold';
    font-size: 12px;
    cursor: pointer;
    box-shadow: 
    2px 2px 2px rgba(0,0,0,0.8),
    inset 2px 2px 2px rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.src-row input {
    padding-inline: 0.5em;
}

.src-content {
    border: 1px solid black;
    color: black;
}

.src-qnt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.src-qnt button {
    width: 30px;
    height: 30px;
}

.report-wrapper h4 {
    max-width: 600px;
}

.report-input-wrapper {
    display: flex;
    margin-block: 20px;
    gap: 10px;
}

.report-wrapper button {
    border-radius: 0.3em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 68, 82);
    border: none;
    border-radius: 15px;
    color: var(--creamy-color);
    padding: 0.5em 0.8em;
    min-width: 100px;
    font-family: 'Montserrat Bold';
    font-size: 12px;
    cursor: pointer;
    box-shadow: 
    2px 2px 2px rgba(0,0,0,0.8),
    inset 2px 2px 2px rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.profile-order-row > * {
    border: 1.5px solid rgb(43, 68, 82);
    color: rgb(43, 68, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-family: 'Montserrat Medium';
    text-align: center;
    padding: 0.2em;
}

.finish-order {
    background-color: #fff;
    cursor: pointer;
}

.finished-select {
    cursor: pointer;
    transition: all 0.5 ease-in-out;
    font-size: 14px;
    background-color: var(--creamy-color);
    padding: 0.2em 0.5em;
    color: rgb(80, 65, 57);
}

.finished-select:hover,
.finished-select:focus {
    background-color: rgb(204, 218, 230);
}

.order-drawing {
    width: 40px;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.fullscreen-overlay img {
    width: 90%; 
    height: 90%; 
    object-fit: contain;
    transition: transform 0.5s ease;
    transform: scale(0);
}

.image-expandable {
    cursor: pointer;
    transition: all 0.5 ease-in-out;
}

.image-expandable:hover,
.image-expandable:focus {
    background-color: rgb(204, 218, 230);
}

.account-switch {
    width: 100%;
}

.account-switch button {
    padding: 0.3em;
    margin-top: 0.5em;
    border-radius: 0.3em;
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 
    4px 4px 6px rgba(0,0,0,0.8),
    inset 3px 3px 5px rgba(255, 255, 255, 0.7);
    background-color: rgb(215, 204, 195);
}

.account-switch img {
    width: 20px;
    height: 20px;
}

.profile-header,
.profile-display {
    grid-column: span 3;
}

.header-logout,
.header-username {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.header-logout {
    background-color: rgb(43, 68, 82);
    border: none;
    border-radius: 15px;
    color: var(--creamy-color);
    padding: 0.5em 0.8em;
    font-family: 'Montserrat Bold';
    font-size: 12px;
    cursor: pointer;
    box-shadow: 
    2px 2px 2px rgba(0,0,0,0.8),
    inset 2px 2px 2px rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .profile-order-row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .profile-wrapper {
        grid-template-columns: 1fr;
        min-height: 80vh;
    }
    .profile-wrapper > * {
        grid-row: span 1;
        grid-column: span 1;
    }
    .profile-info {
        align-items: flex-start;
    }
    .profile-info ul {
        margin-left: 10px;
    }
    .profile-img-wrapper {
        margin-inline: 10px;
    }
    .user-info {
        gap: 0;
    }
    .specialty {
        max-width: 215px;
    }
    .logo {
        display: none;
    }
    .intro {
        padding: 1rem;
        align-items: center;
        justify-content: center;
    }
    .intro-h1 {
        margin-top: 0;
        text-align: center;
    }
    .intro-p {
        text-align: center;
    }
    .profile-order-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

